@import url('https://fonts.googleapis.com/css2?family=Genos&family=Montserrat&display=swap');
:root{
  --genos: 'Genos', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--genos);
}
